<% include partials/header %>
<h1>This is the homepage!</h1>

<img src="https://s-media-cache-ak0.pinimg.com/236x/94/63/4a/94634ab5f3aac188e2154485898f5d8b.webp" alt='pomsky'>
<% include partials/footer %>
